Repository vpmedia/phixify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint",
  "*.{css,js,jsx,json,md}": "prettier --write"
}

Bumped package versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

Bumped package versions
  pnpm-lock.yaml
Due: none

Use npm trusted publishing
  .github/workflows/codeql.yml
  .github/workflows/publish.yml
  README.md
Due: prettier --write

Updated baseConfig with major version display
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Updated copyright headers
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  LICENSE
Due: none

Use Slack with publish.yml
  .github/workflows/publish.yml
Due: none

Use latest ubuntu for github workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none
