Repository vpmedia/phixify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint",
  "*.{css,js,jsx,json,md}": "prettier --write"
}

Allow write contents for publish.yml
  .github/workflows/publish.yml
Due: none

Release v2.1.0
  package.json
Due: prettier --write

Improve github workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

Added explicit github workflow permission definition
  .github/workflows/ci.yml
Due: none

Add SECURITY.md
  SECURITY.md
Due: prettier --write

Updated readme
  README.md
Due: prettier --write

Updated Dockerfile
  Dockerfile
Due: none

Bumped package versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

Bumped package versions
  pnpm-lock.yaml
Due: none

Updated pnpm scripts
  package.json
Due: prettier --write

Adjusted package groups
  package.json
Due: prettier --write

Bumped package versions
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

Bumped rolldown version
  package.json
Due: prettier --write

Improve eslint config
  eslint.config.js
Due: eslint, prettier --write

Bumped package versions
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix eslint rule errors
  .oxlintrc.json
  eslint.config.js
  src/phixify/asset/createAudioSprite.js
  src/phixify/asset/createImage.js
  src/phixify/asset/createSound.js
  src/phixify/asset/createSpriteSheet.js
  src/phixify/command/cleanCommand.js
  src/phixify/manifest/phixify/createPhixifyManifest.js
  src/phixify/tool/audioConcat.js
  src/phixify/tool/audioConvert.js
  src/phixify/tool/audioDuration.js
  src/phixify/tool/audioInfo.js
  src/phixify/tool/ffmpeg/getFFConvertCmd.js
  src/phixify/tool/fileCopy.js
  src/phixify/tool/fileUtil.js
  src/phixify/tool/imageConvert.js
  src/phixify/tool/imageInfo.js
  src/phixify/tool/imagePack.js
  src/phixify/tool/imageResize.js
  src/phixify/tool/imagemagick/getMagickConvertCmd.js
  src/phixify/tool/sharp/getSharpConvertCmd.js
  src/phixify/tool/sharp/getSharpResizeCmd.js
  src/phixify/tool/sox/getSoxConvertCmd.js
Due: eslint, prettier --write
