Repository vpmedia/phixify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Updated configuration loading
  .gitignore
  .phixify.json
  src/phixify/command/initConfigCommand.js
  src/phixify/config/getConfig.js
Due: eslint, prettier --write

Cleanup ignore files
  .dockerignore
  .npmignore
Due: none

Updated readme
  README.md
Due: prettier --write

Updated docker scripts
  Dockerfile
  docker-run.sh
Due: none

Updated npm packages and descriptor
  package-lock.json
  package.json
Due: prettier --write

Fixed docker example issues
  .gitignore
  docker-run.sh
Due: none

Added npmjs badge
  README.md
Due: prettier --write

Added node.js github workflow
  .dockerignore
  .github/workflows/node.js.yml
  .npmignore
Due: none

Updated readme with node.js github workflow status badge
  README.md
Due: prettier --write

Improved docker example, fixed texturepacker tool path issue
  .gitignore
  docker-run.sh
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Published v1.0.2 to npmjs
  package.json
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Updated docker example
  Dockerfile
  README.md
  docker-run.sh
Due: prettier --write

Updated docker example Updated ignore files
  .eslintignore
  .gitignore
  .npmignore
  .prettierignore
  Dockerfile
  README.md
Due: prettier --write

Updated dockerfile
  Dockerfile
Due: none

Updated docker helper
  docker-run.sh
Due: none

Updated npm packages
  package-lock.json
Due: prettier --write

Cleanup
  docker-run.sh
Due: none

Refactoring to support extensible manifest types
  src/phixify/command/createPhaserManifestCommand.js
  src/phixify/command/createPhixifyManifestCommand.js
  src/phixify/command/createPixiManifestCommand.js
  src/phixify/manifest/core/const.js
  src/phixify/manifest/core/getManifestFileList.js
  src/phixify/manifest/phaser/v3/createPhaserManifest.js
  src/phixify/manifest/phixify/v1/createPhixifyManifest.js
  src/phixify/manifest/pixi/v7/createPixiManifest.js
Due: eslint, prettier --write

Refactoring to support extensible manifest types
  src/phixify/command/createPhaserManifestCommand.js
  src/phixify/command/createPhixifyManifestCommand.js
  src/phixify/command/createPixiManifestCommand.js
  src/phixify/manifest/core/getManifestFileMap.js
Due: eslint, prettier --write

Refactoring to support extensible manifest types
  src/phixify/manifest/phaser/v3/createPhaserManifest.js
  src/phixify/manifest/pixi/v7/createPixiManifest.js
Due: eslint, prettier --write

Refactoring to support extensible manifest types
  src/phixify/command/createPhaserManifestCommand.js
  src/phixify/command/createPhixifyManifestCommand.js
  src/phixify/command/createPixiManifestCommand.js
  src/phixify/manifest/phaser/v3/createPhaserManifest.js
  src/phixify/manifest/phaser/v3/getPhaserAudioSprite.js
  src/phixify/manifest/phaser/v3/getPhaserImage.js
  src/phixify/manifest/phaser/v3/getPhaserSound.js
  src/phixify/manifest/phaser/v3/getPhaserSpriteSheet.js
  src/phixify/manifest/phixify/v1/createPhixifyManifest.js
  src/phixify/manifest/phixify/v1/getPhixifyFileInfo.js
  src/phixify/manifest/phixify/v1/getPhixifyFileMap.js
  src/phixify/manifest/pixi/v7/createPixiManifest.js
  src/phixify/manifest/pixi/v7/getPixiAudioSprite.js
  src/phixify/manifest/pixi/v7/getPixiImage.js
  src/phixify/manifest/pixi/v7/getPixiSound.js
  src/phixify/manifest/pixi/v7/getPixiSpriteSheet.js
Due: eslint, prettier --write

Improved configuration
  src/phixify/command/createAssetCommand.js
  src/phixify/command/createManifestCommand.js
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Released v1.0.3
  README.md
  package.json
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Added data type (json, text, xml, etc) to manifest generator
  src/phixify/config/baseConfig.js
  src/phixify/manifest/core/const.js
  src/phixify/manifest/phaser/createPhaserManifest.js
  src/phixify/manifest/phaser/getPhaserData.js
  src/phixify/manifest/pixi/createPixiManifest.js
  src/phixify/manifest/pixi/getPixiData.js
Due: eslint, prettier --write

Updated ignore files
  .dockerignore
  .eslintignore
  .gitignore
  .npmignore
  .prettierignore
Due: none

Improve manifest generator types
  src/phixify/config/baseConfig.js
  src/phixify/manifest/core/const.js
Due: eslint, prettier --write

Updated npm packages
  package-lock.json
  package.json
Due: prettier --write

Updated jsdoc comments
  src/phixify/manifest/const.js
  src/phixify/manifest/phaser/createPhaserManifest.js
  src/phixify/manifest/phaser/getPhaserAudioSprite.js
  src/phixify/manifest/phaser/getPhaserData.js
  src/phixify/manifest/phaser/getPhaserImage.js
  src/phixify/manifest/phaser/getPhaserSound.js
  src/phixify/manifest/phaser/getPhaserSpriteSheet.js
  src/phixify/manifest/phixify/createPhixifyManifest.js
  src/phixify/manifest/phixify/getPhixifyFileInfo.js
  src/phixify/manifest/phixify/getPhixifyFileMap.js
  src/phixify/manifest/pixi/createPixiManifest.js
  src/phixify/manifest/pixi/getPixiAudioSprite.js
  src/phixify/manifest/pixi/getPixiData.js
  src/phixify/manifest/pixi/getPixiImage.js
  src/phixify/manifest/pixi/getPixiSound.js
  src/phixify/manifest/pixi/getPixiSpriteSheet.js
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json,md}
