Repository vpmedia/phixify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint",
  "*.{css,js,jsx,json,md}": "prettier --write"
}

Bumped package versions
  pnpm-lock.yaml
Due: none

Bumped package versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

Bumped package versions
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: none

Migrated from rollup to rolldown (rs based bundler)
  .npmignore
  package.json
  pnpm-lock.yaml
  rolldown.config.js
Due: eslint, prettier --write

Cleanup
  rollup.config.js
Due: eslint, prettier --write

Updated vitest config
  vitest.config.js
Due: eslint, prettier --write

Bump slack github action to v2.1.1, cleanup github dependabot yml
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none
