Repository vpmedia/phixify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint",
  "*.{css,js,jsx,json,md}": "prettier --write"
}

Bumped npm package versions
  package-lock.json
  package.json
Due: prettier --write

Bumped package versions
  package-lock.json
  package.json
Due: prettier --write

Bumped package versions
  CHANGES.md
  README.md
  package-lock.json
  package.json
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Bumped package versions
  package-lock.json
Due: prettier --write

Migrate to eslint flat config
  .eslintignore
  .eslintrc.json
  eslint.config.js
  package-lock.json
  package.json
  src/phixify/asset/createImage.js
Due: eslint, prettier --write

Improved eslint flat config
  eslint.config.js
Due: eslint, prettier --write

Improve eslint flat config
  eslint.config.js
  src/index.js
Due: eslint, prettier --write

Update phixify.sh
  phixify.sh
Due: none

Adjusted package bin command
  package.json
Due: prettier --write

Bumped package versions
  lefthook.yml
  package-lock.json
  package.json
Due: prettier --write

Upgraded pixi.js manifest schema to v8
  CHANGES.md
  README.md
  package-lock.json
  package.json
  src/phixify/config/baseConfig.js
  src/phixify/manifest/pixi/getPixiAudioSprite.js
  src/phixify/manifest/pixi/getPixiBitmapFont.js
  src/phixify/manifest/pixi/getPixiData.js
  src/phixify/manifest/pixi/getPixiImage.js
  src/phixify/manifest/pixi/getPixiManifestTemplate.js
  src/phixify/manifest/pixi/getPixiSound.js
  src/phixify/manifest/pixi/getPixiSpriteSheet.js
  src/phixify/manifest/pixi/getPixiSvg.js
Due: eslint, prettier --write

Bumped pip package versions
  package-lock.json
  package.json
Due: prettier --write

Fixed issue with publish bin setting
  README.md
  package-lock.json
  package.json
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Bumped package versions
  package-lock.json
  tsconfig.json
Due: prettier --write
