Repository vpmedia/phixify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint",
  "*.{js,ts,json,md}": "prettier --write"
}

Release v1.0.4
  README.md
  package.json
  src/phixify/command/createPixiManifestCommand.js
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Updated npm packages
  package-lock.json
Due: prettier --write

Updated package keywords
  package.json
Due: prettier --write

Updated npm packages
  package-lock.json
  package.json
Due: prettier --write

Cleanup
  .dockerignore
  .eslintignore
  .gitignore
  .npmignore
  .prettierignore
Due: none

Updated ignore files
  .dockerignore
  .eslintignore
  .gitattributes
  .gitignore
  .npmignore
  .prettierignore
  Dockerfile
  bitbucket-pipelines.yml
  docker-run.sh
  phixify.sh
Due: none

Added Sharp image processing library as default image tool
  Dockerfile
  README.md
  package-lock.json
  package.json
  src/phixify/config/baseConfig.js
  src/phixify/manifest/phixify/getPhixifyFileInfo.js
  src/phixify/tool/imageConvert.js
  src/phixify/tool/imageInfo.js
  src/phixify/tool/sharp/getSharpConvertCmd.js
  src/phixify/tool/sharp/getSharpInfoCmd.js
Due: eslint, prettier --write

Release v1.0.5
  README.md
  package.json
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Updated npm packages
  README.md
  package-lock.json
  package.json
  src/phixify/command/createAssetCommand.js
  src/phixify/command/createManifestCommand.js
  src/phixify/command/createPhaserManifestCommand.js
  src/phixify/command/createPhixifyManifestCommand.js
  src/phixify/command/createPixiManifestCommand.js
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Added basic multi resolution image support
  src/phixify/config/baseConfig.js
  src/phixify/manifest/phaser/getPhaserImage.js
  src/phixify/manifest/pixi/getPixiImage.js
Due: eslint, prettier --write

Added image resize helpers
  src/phixify/asset/createImage.js
  src/phixify/tool/imageResize.js
  src/phixify/tool/imagemagick/getMagickResizeCmd.js
  src/phixify/tool/sharp/getSharpConvertCmd.js
  src/phixify/tool/sharp/getSharpResizeCmd.js
Due: eslint, prettier --write

Added image resolution resizing
  src/phixify/asset/createImage.js
  src/phixify/config/baseConfig.js
  src/phixify/tool/sharp/getSharpResizeCmd.js
Due: eslint, prettier --write

Release v1.0.7
  README.md
  package-lock.json
  package.json
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Updated readme
  README.md
Due: prettier --write

Reformat code
  .editorconfig
  .prettierrc.json
  src/phixify/command/createAssetCommand.js
  src/phixify/tool/audioConvertFormats.js
  src/phixify/tool/audioInfo.js
Due: eslint, prettier --write

Added sprite sheet resolution variant generator
  src/phixify/asset/createSpriteSheet.js
  src/phixify/tool/texturepacker/getTexturePackerPackCmd.js
Due: eslint, prettier --write

Release v1.0.8
  README.md
  package-lock.json
  package.json
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Release v1.0.9
  README.md
  package.json
  src/phixify/config/baseConfig.js
  src/phixify/manifest/phaser/getPhaserSpriteSheet.js
  src/phixify/manifest/pixi/getPixiSpriteSheet.js
Due: eslint, prettier --write

Updated manifest generator for resolution variants
  src/phixify/manifest/phaser/getPhaserSpriteSheet.js
Due: eslint, prettier --write

Release v1.1.0
  README.md
  package-lock.json
  package.json
  src/phixify/config/baseConfig.js
  src/phixify/manifest/pixi/getPixiSpriteSheet.js
Due: eslint, prettier --write
