Repository vpmedia/phixify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint",
  "*.{js,ts,json,md}": "prettier --write"
}

Updated npm packages
  package-lock.json
Due: prettier --write

Updated npm packages
  package-lock.json
  package.json
Due: prettier --write

Improve build dist config
  package-lock.json
  package.json
  rollup.config.js
Due: eslint, prettier --write

Simplify github workflow
  .github/workflows/node.js.yml
Due: none

Added sound duration manifest generator
  src/phixify/command/createManifestCommand.js
  src/phixify/command/createPhixifyManifestCommand.js
  src/phixify/config/baseConfig.js
  src/phixify/manifest/phixify/createAudioManifest.js
  src/phixify/tool/audioSpriteJson.js
Due: eslint, prettier --write

Release v1.2.0
  README.md
  package-lock.json
  package.json
Due: prettier --write

Improve configuration
  src/phixify/config/baseConfig.js
  src/phixify/manifest/phaser/getPhaserManifestTemplate.js
  src/phixify/manifest/phixify/getPhixifyManifestTemplate.js
  src/phixify/manifest/pixi/getPixiManifestTemplate.js
Due: eslint, prettier --write

Release v1.2.1
  README.md
  package-lock.json
  package.json
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Fixed audio sprite generator pad calculation issue
  README.md
  package.json
  src/phixify/command/createAudioSpriteCommand.js
  src/phixify/config/baseConfig.js
  src/phixify/tool/audioDuration.js
Due: eslint, prettier --write

Tune texture packer opts
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Bump nodejs version
  .github/workflows/node.js.yml
  package.json
Due: prettier --write
