Repository vpmedia/phixify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Bumped package versions
  package-lock.json
  package.json
Due: prettier --write

Bumped slack github action version
  .github/workflows/ci.yml
Due: none

Bumped package versions
  package-lock.json
  package.json
  rollup.config.js
Due: eslint, prettier --write

Bumped package versions
  package-lock.json
Due: prettier --write

Bumped npm package versions
  package-lock.json
  package.json
Due: prettier --write

Cleanup eslint config
  eslint.config.js
Due: eslint, prettier --write

Bumped npm package versions
  package-lock.json
Due: prettier --write

Path conditions:
  eslint: any of: *.{js,jsx}
  prettier --write: any of: *.{css,js,jsx,json,md}
