Repository vpmedia/phixify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Improve prettier configuration, reformatted code
  .prettierrc.json
  prettier.config.js
Due: eslint, prettier --write

Migrate to *.config.js usage
  .lintstagedrc.json
  lint-staged.config.js
Due: eslint, prettier --write

Enforce eslint fix by default, added jest globals pkg
  package-lock.json
  package.json
Due: prettier --write

Improve code quality (jsdoc import quotes)
  lint-staged.config.js
  prettier.config.js
Due: eslint, prettier --write

Updated packages
  package-lock.json
Due: prettier --write

Improve eslint config
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

Updated packages
  package-lock.json
  package.json
Due: prettier --write

Improve project configuration
  package.json
Due: prettier --write

Relax using various node versions
  .npmrc
Due: none

Fixed rollup config issue
  package-lock.json
  package.json
  rollup.config.js
Due: eslint, prettier --write

Update rollup.config.js
  rollup.config.js
Due: eslint, prettier --write

Updated packages and tuned jest, tsc configs
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Updated packages and npmignore
  .npmignore
  package-lock.json
Due: prettier --write

Migrate from husky to lefthook
  .husky/pre-commit
  .husky/prepare-commit-msg
  lefthook.yml
  lint-staged.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Cleanup
  .husky/prepare-commit-msg
Due: none

Cleanup
  .dockerignore
  .eslintignore
  .npmignore
  .prettierignore
Due: none

Added lefthook script commands
  package.json
Due: prettier --write

Updated lefthook
  lefthook.yml
Due: none

Path conditions:
  eslint: any of: *.{js,jsx}
  prettier --write: any of: *.{css,js,jsx,json,md}
