Repository vpmedia/phixify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint",
  "*.{css,js,jsx,json,md}": "prettier --write"
}

chore(deps): updated dependabot.yml
  .github/dependabot.yml
  pnpm-workspace.yaml
Due: none

build(deps): bumped dependency versions, added type aware lint plugins
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint, prettier --write

build(deps): bump dependency versions
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

build(deps): bump dependency versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(deps): bump dependency versions
  pnpm-workspace.yaml
Due: none

build(deps): bumped package versions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

build(deps): bump dependency versions
  pnpm-lock.yaml
Due: none

build(deps): bump dependency versions
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: use eslint plugin jsdoc typescript flavor
  eslint.config.js
Due: eslint, prettier --write

build(deps): bump dependency versions
  package.json
Due: prettier --write

build(deps): bump dependency versions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

test: optimize vitest performance, use standard config format
  vitest.config.js
Due: eslint, prettier --write
