Repository vpmedia/phixify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint",
  "*.{css,js,jsx,json,md}": "prettier --write"
}

Bumped package versions
  package-lock.json
  package.json
Due: prettier --write

Bumped package versions
  package-lock.json
Due: prettier --write

Bumped package versions
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  package-lock.json
  package.json
Due: prettier --write

Bumped package versions
  .github/workflows/ci.yml
Due: none

Migrate from jest to vitest
  .github/workflows/ci.yml
  .npmignore
  eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
  vitest.config.js
Due: eslint, prettier --write

Migrated to pnpm package manager
  .github/dependabot.yml
  .github/workflows/ci.yml
  Dockerfile
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Bumped package versions
  pnpm-lock.yaml
Due: none
