Repository vpmedia/phixify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Updated npm packages
  package-lock.json
  package.json
Due: prettier --write

Updated packages
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

Updated packages
  package-lock.json
  package.json
Due: prettier --write

Added SVG support
  README.md
  package-lock.json
  package.json
  src/phixify/config/baseConfig.js
  src/phixify/manifest/const.js
  src/phixify/manifest/phaser/createPhaserManifest.js
  src/phixify/manifest/phaser/getPhaserSvg.js
  src/phixify/manifest/pixi/createPixiManifest.js
  src/phixify/manifest/pixi/getPixiSvg.js
Due: eslint, prettier --write

Updated packages
  package-lock.json
Due: prettier --write

Update packages
  package-lock.json
Due: prettier --write

Updated eslint config
  .eslintrc.json
Due: prettier --write

Updated type checking config
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Prepare for v1.5.0 release
  CHANGES.md
  README.md
  package-lock.json
  package.json
  src/phixify/config/baseConfig.js
Due: eslint, prettier --write

Updated tsconfig
  tsconfig.json
Due: prettier --write

Improve unit testing
  .gitignore
  jest.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Improve ignore files
  .eslintignore
  .prettierignore
Due: none

Path conditions:
  eslint: any of: *.{js,jsx}
  prettier --write: any of: *.{css,js,jsx,json,md}
