Repository vpmedia/phixify: changes, and which lefthook commands are due for each by the changed paths.
All: lint_yaml, format_js, lint_js

lint_yaml:
  run: yq 'true' {staged_files} > /dev/null

format_js:
  run: 'set -e
  
    pnpm exec prettier --write -- {staged_files}
  
    git add {staged_files} &> /dev/null || true
  
    '

lint_js:
  run: pnpm exec eslint {staged_files}

build(deps): bump dependency versions
  package.json
  pnpm-lock.yaml
Due: lint_yaml

build(deps): bumped rolldown version to rc2
  package.json
  pnpm-lock.yaml
Due: lint_yaml

build(deps): bump dependency versions
  pnpm-lock.yaml
Due: lint_yaml

build(deps): bump dependency versions
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint_yaml

chore: fixed lint errors
  .oxlintrc.json
Due: none

build(deps): bump dependency versions
  lefthook.yml
  pnpm-lock.yaml
Due: lint_yaml

chore: drop eslint, use oxlint only
  .npmignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: lint_yaml, format_js, lint_js

chore: use oxlint only
  package.json
Due: none

build(deps): update cli scripts
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: lint_yaml

ci: only audit production package
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: lint_yaml

Path conditions:
  lint_yaml: any of: *.{yml,yaml}
  format_js: any of: *.{js,jsx}
  lint_js: any of: *.{js,jsx}
