Repository vpmedia/phixify: changes, and which lefthook commands are due for each by the changed paths.
All: lint_yaml, format_js, lint_js

lint_yaml:
  run: yq 'true' {staged_files} > /dev/null

format_js:
  run: 'set -e
  
    pnpm exec prettier --write -- {staged_files}
  
    git add {staged_files} &> /dev/null || true
  
    '

lint_js:
  run: pnpm exec eslint {staged_files}

chore: migrate from prettier to oxfmt
  .npmignore
  .oxfmtrc.json
  .prettierignore
  lefthook.yml
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: lint_yaml, format_js, lint_js

build(deps): bump dependency versions
  .vscode/extensions.json
  .vscode/settings.json
Due: none

build(deps): bump dependency versions
  package.json
  pnpm-lock.yaml
Due: lint_yaml

build(deps): bump dependency versions
  pnpm-lock.yaml
Due: lint_yaml

ci(deps): bump slack github action to v3
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: lint_yaml

ci(deps): update pnpm/action-setup to v5
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: lint_yaml

chore(security): set pnpm minimum release age to 1 day
  pnpm-workspace.yaml
Due: lint_yaml

ci(security): pin github actions to immutable releases
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: lint_yaml

build(deps): bump dependency versions
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint_yaml

build(deps): bump dependency versions
  pnpm-workspace.yaml
Due: lint_yaml

chore(ai): added CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: none

build(deps): bump dependency versions
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: lint_yaml

Path conditions:
  lint_yaml: any of: *.{yml,yaml}
  format_js: any of: *.{js,jsx}
  lint_js: any of: *.{js,jsx}
